data/model/pvnet/custom/69.pt
demo_images/
__pycache__/
train_data/
assets/Webcam/
data/custom/*
/yolov5/datasets/
/yolov5/runs/
data/model/
yolov5/yolov5s.pt
*.mp4
*.webm
*.npz
data/custom1
data/custom0*
data/model0*
data/model1*
venv